<div class="cliente-lista">
  <div class="cliente-lista__cabecalho">
    <h2 class="cliente-lista__titulo">Gestão de Clientes</h2>
    <button mat-raised-button class="cliente-lista__btn-novo" (click)="novoCliente()">Novo Cliente</button>
  </div>

  <table mat-table [dataSource]="clientes" class="mat-elevation-z8 cliente-lista__tabela" style="width: 100%;">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.telefone | telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="cpf_cnpj">
      <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.cpf_cnpj | cpf }} </td>
    </ng-container>

    <ng-container matColumnDef="dataAlteracao">
      <th mat-header-cell *matHeaderCellDef> Última Alteração </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.dataAlteracao}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let cliente">
        <button mat-button class="cliente-lista__btn-editar" (click)="editar(cliente.id)">Editar</button>
        <button mat-button color="warn" (click)="deletar(cliente.id)">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>
  </table>
</div>