/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: #f4f6f9;
    color: #333333;
}

.mat-elevation-z8{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
    border-radius: 8px;
    overflow: hidden;
}