<div class="cliente-form mat-elevation-z8">
  <h2 class="cliente-form__titulo">{{ clienteId ? 'Editar Cliente' : 'Cadastrar Novo Cliente' }}</h2>

  <form [formGroup]="formularioPrincipal" (ngSubmit)="salvar()">

    <mat-form-field appearance="fill" class="cliente-form__campo">
      <mat-label>Nome Completo</mat-label>
      <input matInput formControlName="nome" placeholder="Ex: Rafael Mendes">
      <mat-error *ngIf="formularioPrincipal.get('nome')?.hasError('required')">
        O nome é obrigatório.
      </mat-error>
      <mat-error *ngIf="formularioPrincipal.get('nome')?.hasError('minlength')">
        O nome deve ter pelo menos 3 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="cliente-form__campo">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Ex: rafael@email.com">
      <mat-error *ngIf="formularioPrincipal.get('email')?.hasError('required')">
        O e-mail é obrigatório.
      </mat-error>
      <mat-error *ngIf="formularioPrincipal.get('email')?.hasError('email')">
        Digite um e-mail válido.
      </mat-error>
    </mat-form-field>

    <div class="cliente-form__input-flex">
      <mat-form-field appearance="fill" class="cliente-form__campo-flex">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" placeholder="Ex: 11999998888" (input)="formatarTelefoneAoDigitar($event)">
        <mat-error *ngIf="formularioPrincipal.get('telefone')?.hasError('required')">
          Telefone é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="cliente-form__campo-flex">
        <mat-label>CPF ou CNPJ</mat-label>
        <input matInput formControlName="cpf_cnpj" placeholder="Apenas números" (input)="formatarCpfAoDigitar($event)">
        <mat-error *ngIf="formularioPrincipal.get('cpf_cnpj')?.hasError('required')">
          CPF/CNPJ é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="cliente-form__acoes">
      <button mat-button type="button" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button [className]="formularioPrincipal.invalid ? 'cliente-form__btn-salvar cliente-form__btn-salvar--desabilitado' : 'cliente-form__btn-salvar'" type="submit" [disabled]="formularioPrincipal.invalid">
        Salvar
      </button>
    </div>

  </form>
</div>